In [4]:
#Packages:
import pandas as pd
import numpy as np
import pyreadr as pyr
import sklearn as sk
import scipy as sc
import os

In [5]:
os.chdir("C:/Users/ASUS/Documents/Universidad de los Andes/2022-2/Big Data and Machine Learning for Applied Economics/Taller 2/data") #Working directory. 
tr_p=pyr.read_r("train_personas.Rds") 
tr_h=pyr.read_r("train_hogares.Rds")
print(tr_p.keys())
print(tr_h.keys())
df_trp=tr_p[None] #Data frame (individuals). 
df_trh=tr_h[None] #Data frame (households).

odict_keys([None])
odict_keys([None])

In [6]:
df=pd.merge(df_trp, df_trh, on="id") #Master data frame (merge by unique identificator key).

In [7]:
df.head()

,id,Orden,Clase_x,Dominio_x,Estrato1,P6020,P6040,P6050,P6090,P6100,...,Ingpcug,Li,Lp,Pobre,Indigente,Npobres,Nindigentes,Fex_c_y,Depto_y,Fex_dpto_y
0,9e6553aeb6e744f39a554896,2.0,1,MEDELLIN,2.0,2.0,38.0,2.0,1.0,1.0,...,581666.066667,122809.534158,289878.24715,0.0,0.0,0.0,0.0,127.222038,05,146.25179
1,9e6553aeb6e744f39a554896,5.0,1,MEDELLIN,2.0,1.0,3.0,3.0,NaN,NaN,...,581666.066667,122809.534158,289878.24715,0.0,0.0,0.0,0.0,127.222038,05,146.25179
2,9e6553aeb6e744f39a554896,1.0,1,MEDELLIN,2.0,1.0,41.0,1.0,1.0,1.0,...,581666.066667,122809.534158,289878.24715,0.0,0.0,0.0,0.0,127.222038,05,146.25179
3,9e6553aeb6e744f39a554896,4.0,1,MEDELLIN,2.0,1.0,3.0,3.0,NaN,NaN,...,581666.066667,122809.534158,289878.24715,0.0,0.0,0.0,0.0,127.222038,05,146.25179
4,9e6553aeb6e744f39a554896,3.0,1,MEDELLIN,2.0,1.0,11.0,3.0,NaN,NaN,...,581666.066667,122809.534158,289878.24715,0.0,0.0,0.0,0.0,127.222038,05,146.25179